body { margin:0; padding:0; }
body  {font-family:Arial; font-size:10pt;  color: #000000; background-color: #6D7D8D;

}
p { font-family:Arial; font-size:10pt;  }
ul { font-family:Arial; font-size:10pt; margin: 0; padding: 0 0 0 16px;}
li { font-family:Arial; font-size:10pt; margin: 0; padding: 0 0 0 8px; text-indent: 0px;
	list-style-type: square;
	list-style-position: 4px 0px;
}
ul.circle li { font-family:Arial; font-size:10pt; margin: 0; padding: 0 0 0 0px; text-indent: 0px;
	list-style-type: disc;
	list-style-position: 4px 0px;
}

ol { font-family:Arial; font-size:10pt; }
h1 { font-family:Arial; font-weight:bold; font-size:14pt; color:rgb(0,0,153); text-align:center; margin: 0; padding: 0; }
h2{ font-family:Arial; font-size:12pt; color:rgb(0,0,153); }
h3{ font-family:Arial; font-size:10pt; color:rgb(0,0,0); font-style:normal; text-decoration:underline; }
h4{ font-family:Arial; font-size:10pt; color:rgb(0,0,0); font-weight:bold; }

#page{
	position: absolute;
	position: fixed;
	margin:0; padding:0;
	left:0; right:0; top:0; bottom:0;
}
#pageHeader{
	font-size:10pt;
	position: absolute;
	position: fixed;
	left:0;
	right:0;
	top: 0px;
	height: 70px;
	margin: 0;
	padding: 0;
	overflow: none;
}
#pageFooter {
	font-size:10pt;
	position: absolute;
	position: fixed;
	left:0;
	right:0;
	height: 26pt;
	bottom: 1px;
	margin: 0;
	padding: 10pt 0 0 0;
	text-align: center;
}
#pageContent {
	position: absolute;
	position: fixed;
	overflow: none;
	left:0;
	right:0;
	top: 70px;
	bottom: 40pt;
	margin: 0;
	padding: 2pt;
}
.cadre {
	overflow: auto;
	margin: 0;
	padding: 0px;
}

#ssssommaire div {
	margin: 0;
	padding: 0;
	font-family:Arial; 
	font-size:10pt; 
	bpadding: 10px 0 0 22px;
	btext-indent: -10px;
	bbackground-image: url(sommaire/puce.gif);
	bbackground-repeat: no-repeat;
	bbackground-position: 0 14px;	
}

div.center {
	text-align: center;
}

.section {
	font-family:Arial; font-size:10pt; 
	margin: 0;
	padding: 0;
}
.nota {
	font-family:Arial; font-size:8pt;	font-style: italic; 
	margin: 0;
	padding: 0 0 8px 0;
}

a {
	text-decoration: none;
}
.section a:hover {
	color: #FD9800;
	background-color: #FFF;
}